header { 
        border:solid;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    font-size: 50px;
    color: white;
    text-align: center;
    animation: alternate-reverse
}
body
{
    background-color: lightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.nav-item-container
{
    text-align:center;

}
.section-title
{
    background-color: cornflowerblue;
    text-align: center;
    color:white;
    font-size: 25px;
    
}
.grid-container-intro
{
       margin: 20px;

    display: grid;
   
    grid-template-col: 1fr 1fr;
    grid-gap: 20px;
}
.grid-container
{
    margin: 20px;

    display: grid;
   
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
.grid-item {
    border: dotted 5pt;
    border-color:cornflowerblue;
    
}
